################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/routes
/propio
/package.json
/package-lock.json
/obj/Debug
/node_modules
/NodejsWebApp1.njsproj.user
/bin
/ArquitecturaWebBack.sln
/ArquitecturaWebBack.njsproj.user
/ArquitecturaWebBack.njsproj
/.vs
/server.js
